.thankyoupage__inner {
    display: flex;
    height: 100vh;
    min-height: 700px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.thankyoupage__img {
    width: 170px;
    background-size: cover;
    margin-bottom: 60px;
}

.thankyoupage__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 128%;
    text-transform: uppercase;
    color: #222222;
    margin-bottom: 20px;
    text-align: center;
}

.thankyoupage__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #151515;
    margin-bottom: 45px;
    max-width: 550px;
    text-align: center;
}

.thankyoupage__btn {
    display: block;
    max-width: 340px;
    width: 100%;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    text-transform: capitalize;
    color: #FFFFFF;
    background: #F0C200;
    border: 1.5px solid #F0C200;
    transition: .3s;
    &:hover{
        color: #F0C200;
        background-color: transparent;
    }
}


// RESPONSIVE

@media (max-width:767.8px) {
    .thankyoupage__title {
        font-size: 30px;
    }
    .thankyoupage__subtitle {
        font-size: 16px;
    }
    .thankyoupage__img {
        width: 140px;
    }
}